div.flexBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.flexBox img{
    width: 250px;
    border-radius: 15%;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(85, 132, 194);
}
div.flexBox img:hover{
    cursor: pointer;
    filter: brightness(0.9);
}
div.flexBox img:active{
    filter: brightness(0.7);
}
div.flexBox div{
    margin-left: 50px;
    margin-right: 50px;
}
div.flexBox p{
    font-family: inherit;
    font-weight: 600;
    font-size: 30px;
    text-align:center;
    margin-top: 0px;
}
div.import{
    background-color: rgb(219, 219, 219);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
}
div.import input{
    margin-left: 10px;
    width: 1000px;
    height: 32px;
    font-size: 20px;
    font-family: inherit;
    margin-right: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(179, 179, 179);
}
div.import div{
    display: flex;
    align-items: center;
    justify-content: center;
}
div.import div div{
    text-align: center;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
div.import div div.append{
    background-color: rgb(128, 183, 235);
}
div.import div div.replace{
    background-color: rgb(116, 212, 156);
}
div.import div div.append:hover{
    cursor: pointer;
    background-color: rgb(103, 150, 194);
}
div.import div div.replace:hover{
    cursor: pointer;
    background-color: rgb(105, 179, 135);
}
div.import div div.append:active{
    background-color: rgb(90, 128, 163);
}
div.import div div.replace:active{
    background-color: rgb(91, 155, 117);
}
div.clear{
    width: 100%;
    text-align: center;
}
div.clear button{
    color: white;
    position: relative;
    background-color: rgb(211, 75, 75);
    font-size: 30px;
    padding: 20px 30px 20px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: none;
    font-family: inherit;
}
div.clear button:hover{
    cursor: pointer;
    background-color: rgb(170, 59, 59);
}
div.clear button:active{
    background-color: rgb(141, 51, 51);
}
div.exportDiv{
    background-color: rgba(105, 105, 105, 0.753);
    z-index: 1;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    position: fixed;
    text-align: center;
    line-height: 100vh;
    display: none;
    animation-name: exportingIN;
    animation-duration: 1s;
    animation-play-state: running;
}
div.exportDiv input{
    position: relative;
    font-size: 25px;
    font-family: inherit;
    bottom: 2px;
    display: inline-block;
    height: 40px;
    width: 600px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}
div.exportDiv button{
    font-size: 30px;
    margin-left: 10px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(241, 188, 88);
    font-family: inherit;
    border-style: none;
    color: rgb(255, 255, 255);
}
div.exportDiv button:hover{
    cursor: pointer;
    background-color: rgb(202, 159, 80);
}
div.exportDiv button:active{
    background-color: rgb(173, 139, 74);
}
@keyframes exportingIN{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}
@keyframes exportingOUT{
    0%{
        opacity: 100%;
    }
    99%{
        display: block;
    }
    100%{
        opacity: 0%;
        display: none;
    }
}
@media screen and (max-width: 1500px){
    div.flexBox img{
        width: 230px;
    }
    div.flexBox p{
        font-size: 25px;
    }
    div.import input{
        width: 900px;
    }
    div.import div div{
        padding-left: 15px;
        padding-right: 15px;
        height: 50px;
    }
}
@media screen and (max-width: 1400px){
    div.flexBox img{
        width: 200px;
    }
    div.flexBox p{
        font-size: 20px;
    }
    div.import input{
        width: 800px;
    }
}
@media screen and (max-width: 1300px){
    div.flexBox img{
        width: 160px;
    }
    div.flexBox p{
        font-size: 15px;
    }
    div.import input{
        width: 700px;
    }
    div.import div div{
        margin-left: 8px;
        margin-right: 8px;
    }
}
@media screen and (max-width: 1100px){
    div.flexBox img{
        width: 150px;
    }
    div.flexBox p{
        font-size: 18px;
    }
    div.flexBox div{
        margin-left: 20px;
        margin-right: 20px;
    }
    div.import input{
        width: 500px;
    }
    div.import div div{
        height: 35px;
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 900px){
    div.flexBox img{
        width: 100px;
        border-width: 8px;
    }
    div.flexBox p{
        font-size: 14px;
    }
    div.import input{
        width: 400px;
        height: 25px;
        font-size: 18px;
    }
    div.import div div{
        margin-left: 10px;
        margin-right: 10px;
    }
    div.clear button{
        font-size: 20px;
        padding: 15px 25px 15px 25px;
        margin-top: 35px;
    }
    div.exportDiv input{
        font-size: 15px;
        height: 30px;
        width: 400px;
    }
    div.exportDiv button{
        font-size: 15px;
    }
}
@media screen and (max-width: 650px){
    div.exportDiv input{
        width: 300px;
    }
}
@media screen and (max-width: 550px){
    div.flexBox img{
        width: 50px;
        border-width: 5px;
    }
    div.flexBox p{
        font-size: 8px;
    }
    div.flexBox div{
        margin-left: 10px;
        margin-right: 10px;
    }
    div.import input{
        width: 200px;
        height: 20px;
        font-size: 15px;
    }
    div.import div div{
        font-size: 8px;
        margin-left: 3px;
        margin-right: 3px;
    }
    div.clear button{
        font-size: 12px;
        padding: 10px 20px 10px 20px;
        margin-top: 20px;
    }
    div.exportDiv input{
        font-size: 12px;
        height: 25px;
        width: 250px;
    }
    div.exportDiv button{
        font-size: 12px;
    }
}
@media screen and (max-width: 400px){
    div.exportDiv input{
        width: 100px;
    }
}